.avatar {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    flex-grow: 1;
}
.messageItem {
    display: flex;
    padding: 10px;
}

.message {
    padding: 10px;
    margin: 0 0 0 20px;
    height: max-content;
    border-radius: 5px;
    background-color: #ffffff;
    position: relative;
}

.message:after {
    content: '';
    position: absolute;
    top: 0;
    left: -18px;
    border: 10px solid transparent;
    border-right: 10px solid #ffffff;
}

.chatMessage {
    display: flex;
}

.messageField {
    flex-grow: 1;
    margin-right: 7px;
    font-size: 16px;

    height: 45px;
    resize: none;
    padding: 10px 15px;
    box-sizing: border-box;
}