.wrapper {
  height: 100%;
  flex-grow: 1;
}
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px 50px;
  background-color: #33393e;
  border-radius: 4px;
  color: #ffffff;
  font-family: sans-serif, Arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
}
input {
  padding: 10px 15px;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}
